/* .content {
  grid-area: c;
  background-color: aqua
} */

/* .item {
  color: red
} */

.item img {
  width: 50px;
  border-radius: 50%;


}

.item {
  display: flex;
}

.fr {
  text-align: center;
  padding-top: 15px;
  margin: 5px;
}