.backgr {
    background-color: #b3b3b3;
   
}
.box1 {
    align-items: center;
    padding: 13px;
    font-family: Lato-Thin, AdobeInvisFont, MyriadPro-Regular;
    font-size: 30px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
}
.box2 {
    font-size: 13px;
    text-align: center;
    padding-top: 155px;
}
.line1 {
    height:2px;
    width: 80px;
    background-color: black;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    
 }
 .box4 {
     text-align: center;
     padding-bottom: 49px;
     font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 45px;
    color: rgba(0, 0, 0, 255);
    text-align: center; 
    }
.box5 {
    font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    /* margin: auto; */
    /* justify-content: center; */
    
}
.but-cont1 {
    width: 332px;
    height: 63px;
    border: 2px solid black;
    /* margin: auto; */
}
.col-6 {
    text-align: center;
}


