*{
    block-size: border-box;
    margin: 0;
    padding: 0;
    }
.section1 {
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-color: #f6f5f3;
    /*outline: 1px solid red;*/
    position: relative;
    overflow: hidden;
    }
.wrapper1 {
    max-width: 1120px;
    margin: auto;
    padding-top: 138px;
    padding-bottom: 182px;
    }
.header-h1 {
    text-align: center;
    font-size: 16pt;
    color: rgba(255, 109, 109, 255);
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    }
.header-h2 {
    text-align: center;
    font-size: 40pt;
    color: rgba(40, 40, 40, 255);
    margin-bottom: 92px;
    font-family: 'Open Sans', sans-serif;

    }
.art-s1 {
    width: 342px;
    display: inline-block;
    /*outline: 1px solid green;*/
    text-align: center;
    margin-right: 47px;
    }
.art-s2 {
    width: 342px;
    display: inline-block;
    /*outline: 1px solid green;*/
    text-align: center;
    margin-left: -4px;
    margin-right: 47px;

}
.art-s3 {
    width: 342px;
    display: inline-block;
    /*outline: 1px solid green;*/
    text-align: center;
    margin-left: -4px;
   
}

.art-s1-1 {
    font-size: 22.01207pt;
    color: rgba(40, 40, 40, 255);
    text-align: center;
}
.art-s1-2 {
    font-size: 16pt;
    color: rgba(40, 40, 40, 255);
    text-align: center;
    }
.img-art-s1 {
    margin-bottom: 30px;
}
.img-art-s2 {
    margin-bottom: 30px;
}
.img-art-s3 {
    margin-bottom: 30px;
}
.s1-fix1 {
    width: 291px;
    height: 329px;
    position: absolute;
    top: 0;
    transform: translate(83px, -15px);
}
.s1-fix2 {
    width: 213px;
    height: 279px;
    position: absolute;
    top: 0;
    transform: translate(1115px, -9px);
}
.s1-fix3 {
    width: 235px;
    height: 251px;
    position: absolute;
    top: 0;
    transform: translate(1156px, 625px);
    opacity: 1;
    }
.section2 {
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-color:#ffffff;
    /*outline: 1px solid red;*/
    position: relative;
    /*overflow: hidden;*/
    }
.leftbox-s2 {
    padding-top: 184px;
    max-width: 874px;
    /*height: 720px;*/
    display: inline-block;
    margin-left: 0px;
    /*outline: 1px solid black;*/
    vertical-align: top;
    /*padding-left: 149px;
    padding-right: 150px;*/

    }
.rightbox-s2 {
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 566px;
    height: 724px;
    background-color: #ececec;
    margin-left: -4px;
    /*outline: 1px solid green;*/
    position: relative;
    overflow: hidden;

}
.s2-h4 {
    font-size: 16pt;
    color: rgba(255, 109, 109, 255);
    text-align: left;
    font-family: Exo-Medium;
    padding-left: 140px;
}
.s2-h1 {
    padding-bottom: 50px;
    font-family: Exo-Medium;
    font-size: 40pt;
    color: rgba(40, 40, 40, 255);
    text-align: left;
    padding-left: 140px;
    padding-right: 140px;
}
.s2-h2 {
    padding-bottom: 40px;
    font-family: Exo-Medium;
    font-size: 16pt;
    color: rgba(40, 40, 40, 255);
    text-align: left;
    padding-left: 140px;
    padding-right: 130px;
}
.s2-h3 {
    font-family: Exo-Medium;
    font-size: 16pt;
    color: rgba(40, 40, 40, 255);
    text-align: left;
    padding-left: 140px;
    padding-right: 110px;
}
.rotate1 {
    position: absolute;
    transform: translate(-63px);
}
.s1span {
    color: red;
}
.section3 {
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-color:#ffffff;
    outline: 1px solid red;
    position: relative;
    /*overflow: hidden;*/
    }
.leftbox-s3 {
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 566px;
    height: 724px;
    background-color: #ececec;
    margin-left: -4px;
    /*outline: 1px solid green;*/
    position: relative;
    overflow: hidden;

}
