*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

}
/* -----------------NADYA---------------- */
/* body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  font-family: sans-serif;
  color: #fff;
}
.location{
  height: 30vh;
  width: 50%;
  display: flex;
justify-content: space-around;
align-items: center;
}
.temperature{
  flex-direction: column;
  }
  .temperautre-degree span{
    margin: 10px;
    font-size: 30px;
  }
  .temperautre-degree, .temperautre-description, .temperautre-unit{
    font-size: 30px;
    cursor: pointer;
  } */
  /* ============================================== */
  /* -------------------------TASK 01-------------- */
  /* body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  width: 400px;
  min-width: 480px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
} */
/* ====================================== */
/* ---------------------TASK 02-------- */
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  width: 400px;
  min-width: 480px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
}
