*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section1 {
    display: flex;
    max-width: 1500px;
    outline: 1px solid  green;
    background-size: cover;
    background-position: center;
    margin: auto;
    justify-content: center;
    background-image: url(/img/1/1.png);
    padding-top: 27px;
    padding-bottom: 336px;

}
.header-s1 {
    max-width: 756px;
    outline: 1px solid red;
    display: flex;
    margin: auto;
    /* justify-content: center; */
   }
    
.nav-s1 {
    list-style: none;
    font-size: 12px;
    color: rgba(26, 26, 26, 255);
    text-align: center;
    width: 751px;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-around;
    /*justify-content: space-between;*/
    align-items: center;
        
    }

li {
    list-style: none;
    display: flex;
    outline: 2px solid blue;
    padding-left: 15px;
    padding-right: 15px;
    
    }
a {
    text-decoration: none;
    }
.img-s1 {
    max-width: 260px;
}
ul { 
    display: flex;
    }
.section2 {
    max-width: 1500px;
    display: flex;
    outline: 2px solid black;
    margin: auto;
    /*height: 500px;*/
    
}
.pic-s2 {
    background-size: cover;
    background-position: center;
    margin: auto;
    background-image: url(/img/2/1.png);
    width: 50%;
    height: 500px;
    /*text-align: center;*/
    font-size: 36pt;
    color: rgba(1, 1, 1, 255);
    display: flex;
    align-content: center;
    justify-content: center;
    outline: 5px solid black;
    }
.us {
    width: 300px;
    height: 100px;
    margin: auto;
    border: 10px solid #121212;
    padding-top: 10px;

    
}
.text-s2 {
    width: 50%;
    /*align-items: center;
    align-content: center;*/
    text-align: center;
    padding-top: 80px;
    padding-bottom:90px;
    padding-right: 80px;
    padding-left: 50px;
    outline: 5px solid black;
   }
.h2 {
    font-size: 18pt;
    color: rgba(0, 0, 0, 255);
    margin-bottom: 25px;
    }
.h3 {
    font-size: 16pt;
color: rgba(0, 0, 0, 255);
}



