*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.sec1{
    max-width: 480px;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-image: url(../img/1/2.png), url(../img/1/1.png);
    text-align: center;
    outline: 1px solid red;
    }
.nav {
    display: flex;
    flex-direction: column;
    text-align: center; 

}
ul, a {
    text-decoration: none;
    list-style: none;
    color: white;
}
.logo {
    color: #fed136;
}

h1 {
    color:white; 
}
h2 {
    color: white;
}
.bat-sec1 {
    background:  #fed136;
}
.sec2{
    max-width: 480px;
    margin: auto;
    text-align: center;
    outline: 1px solid red;
}
.wrapper2 {
    text-align: center;
    margin: auto;
}
.info-sec2 {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
    .sec2-img {
      border: 2px solid #fed136;
      border-radius: 50%;
  }
.sec3{
    max-width: 480px;
    margin: auto;
    text-align: center;
    outline: 1px solid red;
}
.wrapper3 {
    text-align: center;
    margin: auto;
}
.sec3-img {
    width: 300px;
    height: 300px;
    margin: auto;
    background-position: center;
    background-size: cover;
    /* background-image: url(../img/1/2.png), url(../img/1/1.png); */
   }

.sec4{
    max-width: 480px;
    min-width: 320px;
    margin: auto;
    text-align: center;
    outline: 1px solid red;
}
.wrapper4 {
    text-align: center;
    margin: auto;
    /* width: 300px; */
    }
.main-sec4 {
    text-align: center;
    margin: auto;

}
.sec4-img {
    width: 200px;
    height: 200px;
    margin: auto;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    }

    .sec5{
        max-width: 480px;
        min-width: 320px;
        margin: auto;
        text-align: center;
        background-color: #f9f9f9;
        outline: 1px solid red;
    }
    .wrapper5 {
        text-align: center;
        margin: auto;
        width: 300px;
        }
    .main-sec5 {
        text-align: center;
        margin: auto;
    
    }
    .sec5-img {
        width: 220px;
        height: 220px;
        margin: auto;
        background-position: center;
        background-size: cover;
        text-align: center;
        }
    



        .sec6{
            max-width: 480px;
            min-width: 320px;
            margin: auto;
            text-align: center;
            outline: 1px solid red;
        }
        .wrapper6 {
            text-align: center;
            margin: auto;
            width: 320px;
            }
        .main-sec6 {
            text-align: center;
            margin: auto;
        
        }
        .sec6-img {
            width: 170px;
            height: 35px;
            margin: auto;
            background-position: center;
            background-size: cover;
            text-align: center;
            }




            .two {
                background-image: url(../img/Background.png);
                max-width: 480px;
                min-width: 320px;
                margin: auto;
                text-align: center;
                outline: 1px solid red;
                position: relative;
                z-index: 999;
            
            }
            .wrapper7 {
                margin: auto;
                width: 320px;
                /* outline: 1px solid green; */
                /* padding-bottom: 115px; */
            }
            
            h7 {font-family: RobotoSlab-Bold, Montserrat-Bold, AdobeInvisFont, MyriadPro-Regular;
                font-size: 40px;
                color: rgba(255, 255, 255, 255);
                /* padding-top: 100px; */
                text-transform: uppercase;
                }
            h8 {
                font-family: DroidSerif-Italic, RobotoSlab-Regular, AdobeInvisFont, MyriadPro-Regular;
                font-size: 16pt;
                font-style: italic;
                color: rgba(119, 119, 119, 255);
                text-align: center;
                /* margin-bottom: 76px; */
                }
            .customer {
                margin: auto;
                /* display: flex; */
                /* justify-content: space-between; */
                /* background-color: red; */
                position: relative;
                z-index: 9999;
            }
            form {
                /* display: flex; */
                flex-direction: column;
                justify-content: space-between; 
            }
            form, input {
                font-size: 14px;
            }
            input { 
                width: 300px;
                height: 30px;
                margin-bottom: 30px;
                line-height: 30px;
                padding: 0;
                border-radius: 5px;
                text-indent: 20px;
                }
            /* input:focus {outline: 3px solid green}  */
            
            /* .send {
                outline: 1px solid green;
                margin: auto;
             } */
            /* .text {
                outline: 1px solid green;
            } */
            button {
                display: block;
                height: 66px;
                width: 240px;
                margin: auto;
                background-color: #fed136;
                border-radius: 5px;
                font-family: Montserrat-Bold, ChunkFive-Roman, AdobeInvisFont, MyriadPro-Regular;
                font-size: 18pt;
                color: rgba(255, 255, 255, 255);
                text-transform: uppercase;
                text-indent: 0px;
                cursor: pointer;

            }
            li:hover {
                color: #fed136;
                cursor: pointer;
            }
            input[type="email"]:valid {outline: 2px solid green;}
            input[type="email"]:invalid {outline: 2px solid red;}
            input[type="text"]:valid {outline: 2px solid green;}
            input[type="text"]:invalid {outline: 2px solid red;}
            
            .continent { 
                position: absolute;
                top: 118px;
                left: 788px;
                z-index: 1;
                display: none;
            
            }
            textarea {width: 300px;
                height: 210px;
                
                border-radius: 5px;
            }
            

@media (min-width: 480px) and (max-width: 768px) {
    .sec1{
        max-width: 768px;
        margin: auto;
         text-align: center;
        outline: 1px solid red;
        }
    .nav {
        display: flex;
        flex-direction: row;
       justify-content: space-between;

    
    }
.ul-sec1 {width: 70%;
        text-decoration: none;
        list-style: none;
        color: white;
        display: flex;
        justify-content: space-around;
    }
.sec3{
    max-width: 768px;
    }

/* .info-sec3 { */
    /* max-width: 40%;
    } */
    
.main-sec3 {
    max-width: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
.info-sec3 {
    /* width: 50%; */
    display: flex;
    flex-direction: column; 
    text-align: center;
    /* margin: auto; */
    }
.sec3-img {
        width: 220px;
        height: 220px;
               
       }
.sec4{
    max-width: 768px;
}
.wrapper4 {
    text-align: center;
    margin: auto;
    max-width: 768px;
}
.main-sec4 {
    text-align: center;
    max-width: 80%;
}
.info-sec4 {
    display: flex;
    width: 100%;    
    margin: auto;
    justify-content: space-between;
}
.text1 {width: 310px;}
.img42 {flex-direction: row-reverse;}
.img44 {flex-direction: row-reverse;}
    

 

}